!!!
%html.no-js{:lang => ""}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title
    %meta{:content => "", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "apple-touch-icon.png", :rel => "apple-touch-icon"}/
    / Place favicon.ico in the root directory
    %link{:href => "css/main.css", :rel => "stylesheet"}/
    %script{:src => "js/modernizr-2.8.3.min.js"}
  %body
    /[if lt IE 8]
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    / Add your site or application content here
    %p Hello world! This is HTML5 Boilerplate.
    %script{:src => "js/main.js"}